scipy==1.7.3
pathlib==1.0.1
numpy==1.21.6
torchmetrics==0.10.0
typeguard==2.13.3
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.13.1+cu113
matplotlib==3.2.2
wandb==0.13.4
torchtyping==0.1.4
torch==1.12.1+cu113
